app/etc/local.xml
media/*
_mysql/*
var/*
downloader/*
.DS_Store
sitemap/*
sitemaps/*
_rakuten/E-*
/nbproject/
/.settings/
/.buildpath
/.project
.buildpath
.wp-config.php
wp-config.php
/.wp-config.php
/wp-content/uploads


!var/.gitkeep

.htaccess
/nbproject/private/
